# ATLAS_TOKEN        - Terraform Cloud access token
# B2_ACCOUNT_ID      - Backblaze keyID
# B2_ACCOUNT_KEY     - Backblaze applicationKey
# BACKUP_MODE        - `init` initializes the Restic repository at `$RESTIC_REPOSITORY` (only do this once)
#                      `backup` performs a backup
# ORGANIZATION       - Name of the Terraform Cloud organization to be backed up
# RESTIC_BACKUP_ARGS - additional arguments to pass to 'restic backup' command
# RESTIC_FORGET_ARGS - additional arguments to pass to 'restic forget --prune' command
#                      (e.g., --keep-daily 7 --keep-weekly 5  --keep-monthly 3 --keep-yearly 2)
# RESTIC_HOST        - hostname to be used for the backup
# RESTIC_PASSWORD    - password for the Restic repository
# RESTIC_REPOSITORY  - Restic repository location (e.g., 'b2:bucketname:restic')
# RESTIC_TAG         - tag to apply to the backup
# SOURCE_PATH        - Full path to the directory to be backed up

ATLAS_TOKEN=
B2_ACCOUNT_ID=
B2_ACCOUNT_KEY=
BACKUP_MODE=
ORGANIZATION=
RESTIC_BACKUP_ARGS=
RESTIC_FORGET_ARGS=
RESTIC_HOST=
RESTIC_PASSWORD=
RESTIC_REPOSITORY=b2:backblaze-bucket-name-goes-here:restic
RESTIC_TAG=
SOURCE_PATH=
